<div class="container-lg">
  <div style="height: 500px" class="d-flex flex-row align-items-center">
    <form
      class="d-flex flex-column align-items-center col-12"
      (ngSubmit)="loginUser($event)"
      [formGroup]="loginForm"
    >
      <input
        type="text"
        placeholder="Username"
        id="username"
        class="m-3"
        [ngStyle]="{ 'border-radius': '20px', 'text-align': 'center' }"
        formControlName="username"
      />
      <input
        type="password"
        placeholder="password"
        id="password"
        class="m-3"
        [ngStyle]="{ 'border-radius': '20px', 'text-align': 'center' }"
        formControlName="password"
      />
      <input class="btn btn-primary" type="submit" value="Login" />
      <p *ngIf="!loggedIn" [ngStyle]="{ color: 'red', 'font-size': '24px' }">
        {{ loginErros }}
      </p>
    </form>
  </div>
</div>
