<div class="container-lg">
  <div style="height: 500px" class="d-flex flex-row align-items-center">
    <form
      class="d-flex flex-column align-items-center col-12"
      (ngSubmit)="loginUser($event)"
      [formGroup]="loginForm"
    >
      <input
        type="text"
        placeholder="Username"
        id="username"
        class="m-3"
        [ngStyle]="{ 'border-radius': '20px', 'text-align': 'center' }"
        formControlName="username"
      />

      <small
        *ngIf="username && username.touched && username.errors?.required"
        [ngStyle]="{ color: 'red' }"
      >
        Username is required</small
      >
      <small
        *ngIf="username && username.touched && username.errors?.minlength"
        [ngStyle]="{ color: 'red' }"
      >
        Username must be at least 3 characters
      </small>
      <input
        type="password"
        placeholder="password"
        id="password"
        class="m-3"
        [ngStyle]="{ 'border-radius': '20px', 'text-align': 'center' }"
        formControlName="password"
      />

      <small
        *ngIf="password && password.touched && password.errors?.required"
        [ngStyle]="{ color: 'red' }"
      >
        Password is required</small
      >
      <small
        *ngIf="password && password.touched && password.errors?.minlength"
        [ngStyle]="{ color: 'red' }"
      >
        Password must be at least 3 characters</small
      >

      <input
        class="btn btn-primary"
        type="submit"
        value="Login"
        [disabled]="loginForm.invalid"
      />
      <p *ngIf="!loggedIn" [ngStyle]="{ color: 'red', 'font-size': '24px' }">
        {{ loginErros }}
      </p>
    </form>
  </div>
</div>
